{{define "Radiator"}}
<tr class="device-row" data-room="{{.Room}}">
    <td></td>
    <td width="100px" >
        <button style="width: 100%" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                onclick="runActionValueChange({{.Device.ParentId}} , '/thermostat/{{.Device.Instance}}/command/valve_pos' ,   +10);">
            UP
        </button>
    </td>
    <td style="text-align: center">
<!--        Target <span id="temperatureTarget_{{.Device.DomotiqueId}}" style="font-size: large">{{.Device.TemperatureTarget}} °C</span><br>-->
        Open <span id="position_{{.Device.DomotiqueId}}" style="font-size: initial">{{.Device.CurrentPos}} %</span>
    </td>
    <td width="100px" >
        <button style="width: 100%" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                onclick="runActionValueChange({{.Device.ParentId}},'/thermostat/{{.Device.Instance}}/command/target_t',  -10);">
            Down
        </button>
    </td>

    <td style="text-align: right">
            <span id="temperature_{{.Device.DomotiqueId}}">
            {{if eq .Device.Temperature 0.0}}
            -
            {{else}}
            {{.Device.Temperature}} °C
            {{end}}
            </span>
        </br>
        <span id="battery_{{.Device.DomotiqueId}}">{{.Device.Battery}} %</span>
    </td>
</tr>
{{end}}



