{{define "SHELLYHT"}}
<div class="device-info">
    <div class="info-row">
        <span class="info-label">Temp:</span>
        <span class="info-value" id="temperature_{{.Device.DomotiqueId}}">
            {{if eq .Device.Temperature 0.0}}-{{else}}{{.Device.Temperature}} °C{{end}}
        </span>
    </div>
    <div class="info-row">
        <span class="info-label">Humidity:</span>
        <span class="info-value" id="humidity_{{.Device.DomotiqueId}}">
            {{if eq .Device.Humidity 0.0}}-{{else}}{{.Device.Humidity}} %{{end}}
        </span>
    </div>
    <div class="info-row">
        <span class="info-label">Battery:</span>
        <span class="info-value" id="battery_{{.Device.DomotiqueId}}">-</span>
    </div>
</div>
{{end}}
