{{define "ShellyDW2"}}
<div class="device-info">
    <div class="info-row">
        <span class="info-label">State:</span>
        <span class="info-value status-badge" id="state_{{.Device.DomotiqueId}}">-</span>
    </div>
    <div class="info-row">
        <span class="info-label">Tilt:</span>
        <span class="info-value" id="tilt_{{.Device.DomotiqueId}}">-</span>
    </div>
    <div class="info-row">
        <span class="info-label">Temp:</span>
        <span class="info-value" id="temperature_{{.Device.DomotiqueId}}">-</span>
    </div>
    <div class="info-row">
        <span class="info-label">Lux:</span>
        <span class="info-value" id="lux_{{.Device.DomotiqueId}}">-</span>
    </div>
    <div class="info-row">
        <span class="info-label">Battery:</span>
        <span class="info-value" id="battery_{{.Device.DomotiqueId}}">-</span>
    </div>
</div>
{{end}}
