{{define "ShellyDW2"}}
<tr class="room room{{.Room}}" style="padding-bottom: 10px">
    <td>Tilt</td>
    <td id="tilt_{{.Device.DomotiqueId}}"></td>
    <td id="state_{{.Device.DomotiqueId}}" width="100px" style="font-size: large; text-align: center">
    </td>
    <td>
    </td>
    <td style="text-align: right"   id="temperature_{{.Device.DomotiqueId}}">
    </td>
</tr>
<tr class="room room{{.Room}}" style="padding-bottom: 10px">
    <td>Illumination
    </td>
    <td id="illumination_{{.Device.DomotiqueId}}">
    </td>
    <td colspan="2"></td>
    <td style="text-align: right"   id="battery_{{.Device.DomotiqueId}}">
    </td>
</tr>
<tr class="room room{{.Room}}" style="padding-bottom: 10px">
    <td>Vibration
    </td>
    <td id="vibration_{{.Device.DomotiqueId}}">
    </td>
    <td colspan="3"></td>
</tr>
<tr class="room room{{.Room}}" style="padding-bottom: 10px">
    <td>Lux
    </td>
    <td id="lux_{{.Device.DomotiqueId}}">
    </td>
    <td colspan="3"></td>
</tr>
{{end}}
