<!DOCTYPE html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" media="all">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" media="all">
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="/js/set.js"></script>
<link href="/css/status.css" rel="stylesheet" type="text/css" media="all">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>Domotique</title>
</head>
<body>
<input type="hidden" name="ipPort" id="ipPort" value="{{.IpPort}}"/>


<div class="demo-card-wide mdl-card mdl-shadow--2dp" style=" width: 100%; min-height: 50px">
    <!--    <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Domotique</h2>
        </div>-->


    <table class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
            <td class="centerText">Instant Power</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="centerText" style="font-size: xxx-large">{{round2 .Totals.Watts}} Watts</td>
        </tr>
        </tbody>
    </table>

</div>

<div class="demo-card-wide mdl-card mdl-shadow--2dp" style=" width: 100%; min-height: 50px">
    <table class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
            <td class="centerText">Heater level</td>
            <td class="centerText">Heater Requested temperature</td>
            <td class="centerText">House temperature</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            {{if .IsHeating}}
            <td class="centerText red"><span class="material-icons">local_fire_department</span></td>
            {{ else }}
            <td class="centerText green"><span class="material-icons">check_circle_outline</span></td>
            {{end}}
            {{ if .IsCorrectTemperature}}
            <td class="centerText green">{{.Temperature_Requested}} &deg;C</td>
            <td class="centerText green">{{.Temperature_Actual}} &deg;C</td>
            {{ else }}
            <td class="centerText red">{{.Temperature_Requested}} &deg;C</td>
            <td class="centerText red">{{.Temperature_Actual}} &deg;C</td>
            {{ end }}
        </tr>

        {{if .IsTemporary}}
        <tr>
            <td>{{.TemporaryLevel}}</td>
            <td colspan="2">{{.Until}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>

</div>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

    <div class="mdl-tabs__tab-bar">
        <a href="#Lights" class="mdl-tabs__tab lights" onclick="changeActiveTabTo('lights')">Lights</a>
        <a href="#Controls" class="mdl-tabs__tab controls" onclick="changeActiveTabTo('controls')">Controls</a>
        <a href="#Sensors" class="mdl-tabs__tab sensors" onclick="changeActiveTabTo('sensors')">Sensors</a>
        <a href="#ControlsOld" class="mdl-tabs__tab controlsold" onclick="changeActiveTabTo('controlsold')">Zoe</a>
        <a href="#Rollers" class="mdl-tabs__tab rollers" onclick="changeActiveTabTo('rollers')">Rollers</a>
        <a href="#Heating" class="mdl-tabs__tab heating" onclick="changeActiveTabTo('heating')">Heating</a>
        <a href="#Logs" class="mdl-tabs__tab logs" onclick="changeActiveTabTo('logs')">Logs</a>
    </div>

    <div class="mdl-tabs__panel lights" id="Lights">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Room</th>
                <th class="mdl-data-table__cell--non-numeric">Description</th>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">On</th>
                <th class="mdl-data-table__cell--non-numeric">Off</th>
                <th>Power</th>
                <th>°C</th>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            {{with .DevicesNew}}
            {{range .}}
            {{if eq .Type "Light"}}
            <tr>
                <td class="leftText">{{.Room}}</td>
                {{if eq .NewFirmware true}}
                <td class="leftText" style="color: red">
                    {{.Name}}
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}},'/command','update_fw')">Update
                    </button>
                </td>
                {{else}}
                <td class="leftText">{{.Name}}</td>
                {{end}}
                <td class="leftText">{{.Type}}</td>
                {{if eq .Online true}}
                <td>
                    <button class="{{.StatusOn}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}} , '/relay/0/command' ,  'on');">On
                    </button>
                </td>
                <td>
                    <button class="{{.StatusOff}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}},'/relay/0/command', 'off');">Off
                    </button>
                </td>
                {{else}}
                <td>OffLine</td>
                <td></td>
                {{end}}
                <td>
                    {{if eq .Power 0.0}}
                    -
                    {{else}}
                    {{.Power}} W
                    {{end}}
                </td>
                <td>
                    {{if eq .Temperature 0.0}}
                    -
                    {{else}}
                    {{.Temperature}}
                    {{end}}

                </td>
                <td>
                    {{.DomotiqueId}} - <a href="http://{{.DeviceUrl}}" target="_blank">{{.DeviceId}}</a>
                </td>
            </tr>
            {{end}}
            {{end}}
            {{end}}
            </tbody>
        </table>
    </div>
    <div class="mdl-tabs__panel controls" id="Controls">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Room</th>
                <th class="mdl-data-table__cell--non-numeric">Description</th>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">On</th>
                <th class="mdl-data-table__cell--non-numeric">Off</th>
                <th>Power</th>
                <th>°C</th>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            {{with .DevicesNew}}
            {{range .}}
            {{if eq .Type "Prise"}}
            <tr>
                <td class="leftText">{{.Room}}</td>
                {{if eq .NewFirmware true}}
                <td class="leftText" style="color: red">
                    {{.Name}}
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}},'/command','update_fw')">Update
                    </button>
                </td>
                {{else}}
                <td class="leftText">{{.Name}}</td>
                {{end}}
                <td class="leftText">{{.Type}}</td>
                {{if eq .Online true}}
                <td>
                    <button class="{{.StatusOn}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}} , '/relay/0/command' ,  'on');">On
                    </button>
                </td>
                <td>
                    <button class="{{.StatusOff}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}},'/relay/0/command', 'off');">Off
                    </button>
                </td>
                {{else}}
                <td>OffLine</td>
                <td></td>
                {{end}}
                <td>
                    {{if eq .Power 0.0}}
                    -
                    {{else}}
                    {{.Power}} W
                    {{end}}
                </td>
                <td>
                    {{if eq .Temperature 0.0}}
                    -
                    {{else}}
                    {{.Temperature}}
                    {{end}}

                </td>
                <td>
                    {{.DomotiqueId}} - <a href="http://{{.DeviceUrl}}" target="_blank">{{.DeviceId}}</a>
                </td>
            </tr>
            {{end}}
            {{end}}
            {{end}}
            </tbody>
        </table>
    </div>
    <div class="mdl-tabs__panel sensors" id="Sensors">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Room</th>
                <th class="mdl-data-table__cell--non-numeric">Description</th>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">Active</th>
                <th class="mdl-data-table__cell--non-numeric">Motion</th>
                <th class="mdl-data-table__cell--non-numeric">Vibration</th>
                <th class="mdl-data-table__cell--non-numeric">Lux</th>
                <th>°C</th>
                <th>Battery</th>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            {{with .DevicesNew}}
            {{range .}}
            {{if eq .Type "Climat"}}
            <tr>
                <td class="leftText">{{.Room}}</td>
                <td class="leftText">{{.Name}}</td>
                <td class="leftText">{{.Type}}</td>
                <td class="leftText">{{.Active}}</td>
                <td>{{.Motion}}</td>
                <td>{{.Vibration}}</td>
                <td>{{.Lux}}</td>
                <td>
                    {{if eq .Temperature 0.0}}
                    -
                    {{else}}
                    {{.Temperature}}
                    {{end}}

                </td>
                <td>{{.Battery}}</td>
                <td>
                    {{.DomotiqueId}} - <a href="http://{{.DeviceUrl}}" target="_blank">{{.DeviceId}}</a>
                </td>
            </tr>
            {{end}}
            {{if eq .Type "Alarm"}}
            <tr>
                <td class="leftText">{{.Room}}</td>
                <td class="leftText">{{.Name}}</td>
                <td class="leftText">{{.Type}}</td>
                <td class="leftText">{{.Active}}</td>
                <td>{{.Motion}}</td>
                <td>{{.Vibration}}</td>
                <td>{{.Lux}}</td>
                <td>
                    {{if eq .Temperature 0.0}}
                    -
                    {{else}}
                    {{.Temperature}}
                    {{end}}

                </td>
                <td>{{.Battery}}</td>
                <td>
                    {{.DomotiqueId}} - <a href="http://{{.DeviceUrl}}" target="_blank">{{.DeviceId}}</a>
                </td>
            </tr>
            {{end}}
            {{end}}
            {{end}}
            </tbody>
        </table>
    </div>
    <div class="mdl-tabs__panel controlsold" id="ControlsOld">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Room</th>
                <th class="mdl-data-table__cell--non-numeric">Description</th>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">On</th>
                <th class="mdl-data-table__cell--non-numeric">Off</th>
                <th>Power</th>
                <th>°C</th>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            {{with .Devices}}
            {{range .}}
            {{if eq .Type "Prise"}}
            {{if ne .Source 100 }}
            <tr>

                <td class="leftText">{{.Room}}</td>
                <td class="leftText">{{.Name}}</td>
                <td class="leftText">{{.Type}}</td>
                <td>
                    <button class="{{.StatusOn}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="toggleDevice({{.DomotiqueId}}, {{.UrlOn}})">On
                    </button>
                </td>
                <td>
                    <button class="{{.StatusOff}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="toggleDevice({{.DomotiqueId}}, {{.UrlOff}})">Off
                    </button>
                </td>
                <td>
                    {{if eq .Power 0.0}}
                    -
                    {{else}}
                    {{.Power}}
                    {{end}}
                </td>
                <td>
                    {{if eq .Temperature 0.0}}
                    -
                    {{else}}
                    {{.Temperature}}
                    {{end}}

                </td>
                <td>
                    {{if eq .Source 100}}
                    {{.DeviceId}}
                    {{end}}
                </td>
            </tr>
            {{end}}
            {{end}}
            {{end}}
            {{end}}
            </tbody>
        </table>
    </div>
    <div class="mdl-tabs__panel heating" id="Heating">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Room</th>
                <th class="mdl-data-table__cell--non-numeric">Description</th>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">On</th>
                <th class="mdl-data-table__cell--non-numeric">Off</th>
                <th>Power</th>
                <th>°C</th>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            {{with .DevicesNew}}
            {{range .}}
            {{if eq .Type "Climat"}}
            <tr>
            <tr>
                <td class="leftText">{{.Room}}</td>
                {{if eq .NewFirmware true}}
                <td class="leftText" style="color: red">
                    {{.Name}}
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}},'/command','update_fw')">Update
                    </button>
                </td>
                {{else}}
                <td class="leftText">{{.Name}}</td>
                {{end}}
                <td class="leftText">{{.Type}}</td>
                {{if eq .Online true}}
                <td>
                    <button class="{{.StatusOn}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}} , '/relay/0/command' ,  'on');">On
                    </button>
                </td>
                <td>
                    <button class="{{.StatusOff}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}} , '/relay/0/command' ,  'off');">Off
                    </button>
                </td>
                {{else}}
                <td>OffLine</td>
                <td></td>
                {{end}}
                <td>
                    {{if eq .Power 0.0}}
                    -
                    {{else}}
                    {{.Power}} W
                    {{end}}
                </td>
                <td>
                    {{if eq .Temperature 0.0}}
                    -
                    {{else}}
                    {{.Temperature}}
                    {{end}}

                </td>
                <td>
                    {{.DomotiqueId}} - <a href="http://{{.DeviceUrl}}" target="_blank">{{.DeviceId}}</a>
                </td>

            </tr>
            {{end}}
            {{end}}
            {{end}}
            </tbody>
        </table>


        <h2 style="color: #2e6c80;">Temporarily force settings:</h2>
        <table>
            <tbody>
            <tr>
                <td>
                    <form>
                        <label for="day">Day</label>
                        <input type="text" name="day" id="day" value=""/>
                        <label for="hour">Hour</label>
                        <input type="text" name="hour" id="hour" value=""/>
                        <button id="clickHigh" type="button" onclick="setTemporary('high');" href="#">High</button>
                        <button id="clickLow" type="button" onclick="setTemporary('low');" href="#">Low</button>
                        <button id="clickMax" type="button" onclick="setTemporary('max');" href="#">Max</button>
                        <button id="clickAway" type="button" onclick="setTemporary('away');" href="#">Away</button>
                        <button id="clickReset" type="button" onclick="setTemporary('reset');" href="#">Reset</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <h2 style="color: #2e6c80;">Summary Normal Configuration:</h2>
        <table>
            <tbody>
            <tr>
                <th>Day</th>
                <th>Moment</th>
                <th>Level</th>
                <th>Value</th>
            </tr>
            {{with .NormalValues}}
            {{range .}}
            <tr>
                <td>{{.Day}}</td>
                <td align="right">{{.Moment}}</td>
                <td>{{.LevelName}}</td>
                <td>{{.LevelValue}}</td>
            </tr>
            </tbody>
            {{end}}
            {{end}}
        </table>
    </div>
    <div class="mdl-tabs__panel logs" id="Logs">
        <h2 style="color: #2e6c80;">Last Update:</h2>
        <table>
            <tbody>
            <tr>
                <td>Date &amp; Time</td>
                <td>{{.UpdateTime}}</td>
            </tr>
            <tr>
                <td>Reconnect</td>
                <td>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                        onclick="runReconnect();">Execute
                </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-tabs__panel rollers" id="Rollers">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Room</th>
                <th class="mdl-data-table__cell--non-numeric">Description</th>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">Open</th>
                <th class="mdl-data-table__cell--non-numeric">Stop</th>
                <th class="mdl-data-table__cell--non-numeric">Close</th>
                <th class="mdl-data-table__cell--non-numeric">Level</th>
                <th class="mdl-data-table__cell--non-numeric">Current Position</th>
                <th class="mdl-data-table__cell--non-numeric">Last Direction</th>
                <th>Power</th>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            {{with .DevicesNew}}
            {{range .}}
            {{if eq .Type "Roller"}}
            <tr>
                <td class="leftText">{{.Room}}</td>
                {{if eq .NewFirmware true}}
                <td class="leftText" style="color: red">
                    {{.Name}}
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}},'/command','update_fw')">Update
                    </button>
                </td>
                {{else}}
                <td class="leftText">{{.Name}}</td>
                {{end}}
                <td class="leftText">{{.Type}}</td>
                {{if eq .Online true}}
                <td>
                    <button class="{{.StatusOn}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}} , '/roller/0/command' ,  'open');">Open
                    </button>
                </td>
                <td>
                    <button class="{{.StatusStop}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}} , '/roller/0/command' ,  'stop');">Stop
                    </button>
                    <br> {{.StopReason}}
                </td>
                <td>
                    <button class="{{.StatusOff}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            onclick="runAction({{.DomotiqueId}} , '/roller/0/command' ,  'close');">Closed
                    </button>
                </td>
                {{else}}
                <td></td>
                <td>OffLine</td>
                <td></td>
                {{end}}
                <td>
                    <input class="mdl-slider mdl-js-slider" type="range" id="slider{{.DomotiqueId}}"
                           min="0" max="100" value="{{.CurrentPos}}" tabindex="0"
                           onchange="slideDevice({{.DomotiqueId}})">
                </td>
                <td>
                    {{.CurrentPos}}
                </td>
                <td>
                    {{.LastDirection}}
                </td>
                <td>
                    {{.Power}}
                </td>
                <td>
                    {{.DomotiqueId}} - <a href="http://{{.DeviceUrl}}" target="_blank">{{.DeviceId}}</a>
                </td>

            </tr>
            {{end}}
            {{end}}
            {{end}}
            </tbody>
        </table>
    </div>
</div>
</body>
<footer>
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</footer>
</html>